<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <h2>Contact</h2>
        <div class="row">
            <div class="col-md-6" style="height: 400px; background-color: #00b3ee; padding-top: 20px;">
                <form class="form row">
                    <div class="form-group col-md-6">
                        <label id="surname" for="surname_name">Surname</label>
                        <input id="surname_name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label id="nom" for="name_name">Name</label>
                        <input id="name_name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label id="phoen" for="phone_name">Phone</label>
                        <input id="phone_name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label id="email" for="email_name">Email</label>
                        <input id="email_name" class="form-control">
                    </div>
                    <button class="btn btn-primary col-md-11" style="margin-left: 25px; margin-top: 30px;">Add</button>
                </form>
            </div>
            <div class="col-md-6" style="height: 400px; background-color: #e0a800;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>